* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --azure-color: azure;
  --black-color: black;
  --screen-color: rgb(133, 134, 147);
  --calculator-action-color: rgb(245, 145, 62);
  --calculator-hover-color: rgb(199, 95, 10);
  --calculator-body-color: rgb(224, 224, 224);
  --calculator-number-color: rgb(69, 77, 89);
  --screen-number-color: rgb(251, 251, 251);
}

body {
  background: var(--azure-color);
  font-family: 'Segoe UI', sans-serif;
}

button:hover {
  background-color: var(--calculator-body-color);
}

.main-body {
  width: 100%;
}

.container {
  width: 50%;
  box-shadow: 1px 1px  1px var(--black-color);
  margin: 20px auto;
}

.calculator-screen,
.main-body,
.calculator-body {
  display: flex;
}

.operator-section,
.func,
.number-section,
.body-footer {
  place-content: center;
  justify-content: center;
}

/* Screen */

.calculator-screen {
  width: 100%;
  margin: auto;
  justify-content: flex-end;
  background: var(--screen-color);
}

.calculator-screen p {
  color: var(--screen-number-color);
  font-size: x-large;
  padding: 13px 5px;
}

/* Calculator Body */

.calculator-body {
  width: 80%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--calculator-body-color);
}

.func,
.number-section {
  grid-template-columns: 1fr 1fr 1fr;
}

.func button,
.number-section button,
.body-footer button,
.operator-section button {
  border: 1px solid var(--azure-color);
  text-align: center;
  width: 100%;
  font-weight: 700;
  padding: 20px 0;
}

.body-footer {
  grid-template-columns: 2fr 1fr;
}

/* Operator */
.operator-section {
  width: 20%;
  grid-template-columns: 1fr;
  background: var(--calculator-action-color);
}

.operator-section button {
  background: transparent;
}

.operator-section button:hover {
  background: var(--calculator-hover-color);
}

.body-footer,
.number-grid,
.operator-section,
.func {
  display: grid;
}
